application:
  host: 127.0.0.1
  port: {{ app_port }}
database:
  host: {{ postgresql_host }}
  port: {{ postgresql_port }}
  username: {{ postgresql_user }}
  password: {{ postgresql_password }}
  database_name: {{ postgresql_db }}